*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.env
.git/
/bower_components/
/log
/node_modules/
/tmp
db/*.sqlite3
log/*.log
rerun.txt
tmp/**/*
/tags
.config/nvim/lazy-lock.json
.config/tmux/plugins
.config/fish/fish_variables
.gitconfig.local
local_config.fish
.config/fish/functions_local/*
.config/fish/**/*.local.fish
